html {
  box-sizing: border-box;
}

body {
  --main-color: #262121;
  --white: #fff;
  --green: hsl(96, 75%, 55%);
  --square-hover: #6d6868;
  --active-player: #e24444;
  --section-spacing: 35px;
  --status-bar: -15px;

  width: 630px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  font-family: "inter-variable", sans-serif;
  color: var(--main-color);
}

header {
  width: 45%;
  margin-inline: auto;
  margin-top: calc(var(--section-spacing) * 2);
}

header h1 {
  font-size: 3rem;
  font-variation-settings: "wght" 100, "slnt" 0;
  word-spacing: 0.25em;
  letter-spacing: 0.0625em;
  margin: 0;
  padding-bottom: var(--section-spacing);
}

.status-bar {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-bottom: var(--section-spacing);
}

.status-bar > p {
  margin: 0;
}

.status-icon-bar {
  position: absolute;
  width: 100%;
}

.status-icon {
  position: absolute;
  width: 8px;
  height: 15px;
  background-color: var(--active-player);
  transition: 200ms;
}

.move-left {
  left: var(--status-bar);
}

.move-right {
  right: var(--status-bar);
}

.icon {
  transition: 300ms;
}

.winner {
  background-color: var(--green);
}

main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.25em;
}

main > div {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--main-color);
  padding: 1em;
  cursor: pointer;
  transition: 200ms ease-out;
}

main > div::before {
  content: "";
  padding-top: 100%;
  display: block;
}

main > div:hover {
  background: var(--square-hover);
}

main > div:hover[data-square-closed="true"] {
  background: var(--main-color);
  cursor: default;
}

footer {
  display: flex;
  justify-content: space-around;
  margin-block-start: 1em;
}

footer > div button {
  border: none;
  padding-block: 0.75em;
  padding-inline: 1em;
  background: none;
  color: var(--square-hover);
  text-decoration: underline;
  text-decoration-color: transparent;
  text-underline-offset: 0.5em;
  font-weight: bold;
  letter-spacing: 0.125em;
  cursor: pointer;
  transition: text-underline-offset 275ms ease-in-out,
    text-decoration-color 200ms;
}

footer > div button:hover {
  color: var(--main-color);
  text-decoration-color: var(--main-color);
  text-underline-offset: 0.75em;
}

.x {
  fill: var(--white);
}

.o {
  fill: transparent;
  stroke: var(--white);
  stroke-width: 10px;
}

.line {
  transform-origin: center;
}

.left {
  rotate: 45deg;
}

.right {
  rotate: -45deg;
}
