html {
  box-sizing: border-box;
}

body {
  --main-color: #262121;
  --white: #fff;
  --green: hsl(96, 75%, 55%);
  --square-hover: #6d6868;
  --active-player: #e24444;
  --section-spacing: 35px;
  --status-bar: -15px;

  width: 630px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  font-family: "inter-variable", sans-serif;
  color: var(--main-color);
}

header {
  width: 45%;
  margin-inline: auto;
  margin-top: calc(var(--section-spacing) * 2);
}

header h1 {
  font-size: 3rem;
  font-variation-settings: "wght" 100, "slnt" 0;
  word-spacing: 0.25em;
  letter-spacing: 0.0625em;
  margin: 0;
  padding-bottom: var(--section-spacing);
}

.status-bar {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-bottom: var(--section-spacing);
  /* border: 1px solid blue; */
}

.status-bar > p {
  margin: 0;
}

.status-icon-bar {
  position: absolute;
  width: 100%;
}

.status-icon {
  position: absolute;
  width: 8px;
  height: 18px;
  background-color: var(--active-player);
  transition: 200ms;
}

.move-left {
  left: var(--status-bar);
}

.move-right {
  right: var(--status-bar);
}

.icon {
  transition: 300ms;
}

main > div {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--main-color);
  padding: 1em;
  cursor: pointer;
  transition: 200ms ease-out;
}

main > div::before {
  content: "";
  padding-top: 100%;
  display: block;
}

main > div:hover {
  background: var(--square-hover);
}

main > div:hover[data-square-closed="true"] {
  background: var(--main-color);
}

main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.25em;
}

.x {
  fill: var(--white);
}

.o {
  fill: transparent;
  stroke: var(--white);
  stroke-width: 10px;
}

.line {
  transform-origin: center;
}

.left {
  rotate: 45deg;
}

.right {
  rotate: -45deg;
}

button {
  margin-block: 2em;
}
